<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django REST with React</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "frontend/style.css" %}">
</head>
<body>
    <div id="app"></div>
</body>
<script src="{% static "frontend/main.js" %}"></script>
</html>