.tasks {
    display: flex;
}
.taskblock {
    width: 25%;
    border: 1px solid black;
    margin: 15px;
    box-sizing: border-box;
    min-height: 250px;
}
.hidden { 
    display:none; 
}
.bloc-title {
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid black;
}
.task-item {
    padding: 15px;
    border-bottom: 1px solid black;
}
.task-item a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.task-item a:hover {
    text-decoration: none;
}
.add-form {
    width: 500px;
    margin: 25px auto;
    border: 1px solid black;
    padding: 15px;
}
.add-bottom {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 25px;
    text-transform: uppercase;
}
.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(000, 000, 000, 0.5);
}
.modal-wrapper form {
    background-color: white;
    border: 1px solid black;
    width: 500px;
    margin: 150px auto;
    padding: 15px;
}
.clouse-window {
    color: black !important;
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}
.errors {
    color: red;
    font-weight: bold;
}